<p id="notice"><%= notice %></p>

<p>
  <strong>User picture,:</strong>
  <%= @user.user_picture, %>
</p>

<p>
  <strong>Name,:</strong>
  <%= @user.name, %>
</p>

<p>
  <strong>Password,:</strong>
  <%= @user.password, %>
</p>

<p>
  <strong>Top 5 restaurants:</strong>
  <%= @user.top_5_restaurants %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
